<div class="header k-container">
        <div class="topnav" id="k-nav">
            <a href="#home" class="k-nav-item active ">Home</a>
            <a class="k-nav-item" href="#news">News</a>
            <a class="k-nav-item" href="#contact">Contact</a>
            <a class="k-nav-item" href="#about">About</a>
            <a  href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
    </div>